{% extends "base.html.twig" %}

{% block body %}
    <div
        class="base">

        <!-- Page -->
        <div
            class="page">

            <!-- Page Header-->
            <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="white-text">2nd assistant position</h2>
                            <span class="white-text">Ref. 1007</span>
                            <ol class="breadcrumb">
                                <li>
                                    <div class="portfolio-nav">
                                        <a class="waves-effect waves-dark" href="#!">
                                            <i aria-hidden="true" class="fa fa-angle-left"></i>
                                            Prev</a>
                                        <a class="waves-effect waves-dark" href="#!">
                                            <i aria-hidden="true" class="fa fa-th-large"></i>
                                        </a>
                                        <a class="waves-effect waves-dark" href="#!">Next
                                            <i aria-hidden="true" class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Page Content-->
            <section class="single-project-section section-padding light-gray-bg">
                <div class="container">
                    <div class="project-overview">
                        <div class="row mb-80">
                            <div class="col-xs-12 col-md-8">
                                <p class="ref grey-text no-margin">Ref. 1007</p>
                                <h2>2nd assistant position</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec tortor venenatis, consequat quam et, varius lorem. Vivamus auctor vehicula odio, non scelerisque nibh cursus maximus. Sed hendrerit eros libero, vel accumsan nisi sagittis sit amet. Vivamus vitae neque convallis, consectetur lectus ac, pellentesque massa. Morbi finibus faucibus lorem vel placerat. Vivamus neque ligula, lacinia ac arcu sed, egestas mattis felis. Pellentesque tincidunt nulla lorem, ut sollicitudin metus volutpat ut. Vivamus et dignissim elit.
                                </p>
                                <p>Vivamus id congue massa. Praesent ornare ipsum dolor, ut semper sapien tempus non. Integer eget dui vehicula nisi rutrum interdum et id turpis. Nam eu mollis sem. Aenean in hendrerit neque. Morbi rhoncus lacinia risus ac mattis. Pellentesque a mauris sapien. Nunc sit amet accumsan massa. Nulla gravida porttitor luctus. Aliquam fringilla at quam non euismod. Phasellus eu gravida eros. Cras odio risus, blandit non suscipit sed, volutpat vitae nulla. In ultrices at leo sit amet interdum.</p>
                            </div>

                            <div class="col-xs-12 col-md-4 quick-overview">
                                <ul class="portfolio-meta">
                                    <li>
                                        <span>
                                            Pulished at
                                        </span>24 May 18</li>
                                    <li>
                                        <span>
                                            Position
                                        </span>2nd Engineer</li>
                                    <li>
                                        <span>
                                            Contract Type
                                        </span>Full Time</li>
                                    <li>
                                        <span>
                                            Salary
                                        </span>45k &euro;</li>
                                    <li>
                                        <span>
                                            Location
                                        </span>Paris</li>
                                    <li>
                                        <span>
                                            Starting date
                                        </span>2018-05-18</li>
                                </ul>
                                <a class="btn btn-block gradient primary mt-30 waves-effect waves-light" href="#!">Apply for this job</a>
                                <div class="btn btn-block btn-success mt-30 waves-effect waves-light disabled">You have applied for this job</div>
                            </div>
                        </div>
                    </div>

                    <nav class="single-post-navigation no-margin" role="navigation">
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="previous-post-link">
                                    <a class="btn border primary waves-effect waves-dark" href="#!">
                                        <i class="fa fa-long-arrow-left"></i>Previous
                                    </a>
                                </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-4"></div>


                            <div class="col-xs-6 col-sm-6 col-md-4">
                                <div class="next-post-link">
                                    <a class="btn border primary waves-effect waves-dark" href="#!">
                                        Next
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>
            </section>

        </div>

    </div>
{% endblock %}
